/* TO DO */
/* - Make footer only appear at the end */

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Cutive Mono', monospace;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.3;
  color: #331900;
}

/* navbar */

header {
position: fixed;
width: 100%;
background-color: #fdf9e7;
}

nav {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
}

nav > ul {
list-style-type: none;
overflow: hidden;
}

nav > ul > li {
float: left;
}

li a {
display: block;
color: white;
padding: 24px 16px;
text-decoration: none;
}

li a:hover {
background-color: #FFC300;
color: #333;
}

/* body */

.container {
padding: 90px 30px 30px 30px
}

/* links */

a[href],
a[href]:visited {
color: #332900;
text-decoration: none;
border-bottom: 1px solid #f1c40f;
padding: 0 1px 0;
margin: 0 16px 0;
}

a[href]:active,
a[href]:hover {
background-color: rgba(241, 196, 15, 0.40);
border-bottom-width: 2px;
margin-bottom: -1px;
transition: background-color 0.2s;
}

/* images */

.avatar {
border-radius: 50%;
width: 60px;
}

/* footer */

footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: #fdf9e7;
text-align: center;
margin-top: 15px;
}
